/* WordPress Presentational Styles*/
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left; margin:0 15px 5px 0; }
.alignright { float:right; margin:0 0 5px 15px; }
.wp-caption { border:none text-align:center; background:transparent; padding:10px; margin:10px }
/* WordPress Presentational Styles*/

.left {float:left}
.right {float:right}
.clear {clear:both}

* {margin:0; padding:0;}
html, body {height:100%}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size: 14px;
	line-height:normal;
}

body.admin-bar {margin-top: 32px;}

h1 {font-family: 'Oswald', sans-serif; margin-bottom:15px; color:#fff; font-size:36px; line-height:42px; font-weight:400; text-transform:uppercase;}
h2 {font-family: 'Oswald', sans-serif; margin-bottom:15px; color:#666; font-size:24px; line-height:normal; font-weight:400; text-transform:uppercase; text-align:center;}
h3 {font-family: 'Oswald', sans-serif; margin-bottom:5px; color:#666; font-size:18px; line-height:20px; font-weight:400; text-transform:uppercase;}

h3 a {color:#666;}

h4 {font-family: 'Oswald', sans-serif; margin-bottom:10px; color:#333; font-size:16px; line-height:16px; font-weight:400;}
h5 {font-family: 'Oswald', sans-serif; margin-bottom:10px; color:#333; font-size:14px; line-height:14px; font-weight:400;}
h6 {font-family: 'Oswald', sans-serif; margin-bottom:10px; color:#333; font-size:14px; line-height:14px; font-weight:400;}
p{margin-bottom:14px;}

a, a img {outline:none; border:none; color:#ccc; text-decoration:none;}
a:hover, a:active {text-decoration:none;}

/*******************************************************************************
GENERAL STYLES
*******************************************************************************/
.row { width:100%; position:relative; float:left; padding:0 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
	.rowInner { width:100%; max-width:960px; margin:0 auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.field {width:100%; margin:0 0 15px 0; padding:9px 10px 10px; background:#fff; font-family: 'Open Sans', sans-serif; font-size:12px; color:#666; border:none; border-radius:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.submit {-webkit-appearance:none; border-radius:0; border:none; font-family: 'Oswald', sans-serif; font-size:16px; line-height:16px; color:#fff; text-align:center;}

/*Validation*/
.parsley-error-list {display:none !important;}
.parsley-error {color:#FFF !important; text-decoration:blink; box-shadow: 0 0 1px 1px #F00 inset !important;}
#signupform, #signupform * {transition:0.5s;}

/*Widget Errors*/
.noPosts {text-align:center;padding:20px;}
.noPosts h1.noPostsMessage {font-size: 14px;line-height: 16px;color: red;}


/*******************************************************************************
NAV ROW
*******************************************************************************/
#navRow { background:#fff;}
	#navRow .rowInner {padding:25px 0;}

	#logo {float:left; height:70px;}
		#logo img {display:block; height:auto; width:auto; max-width:180px; max-height:70px;}

	#navRow ul {float:right; list-style:none; margin:22px 0 0 0;}
		#navRow ul li { float:left; margin:5px 11px;position: relative;}
			#navRow ul li a {display:block; padding:5px; font-family: 'Oswald', sans-serif; text-transform:uppercase; font-size:12px; line-height:12px; color:#666;}

			#navRow ul li ul {position: absolute;margin-top: 0px;padding: 5px;background: rgb(204, 204, 204) none repeat scroll 0% 0%;min-width: 100%;float: none;z-index:9;}
			#navRow ul li ul li {margin: 5px 0px;display: block;width: 100%;}
			#navRow ul li ul li a {white-space: nowrap;}

		#navRow ul li.navDonate {margin:5px 20px 5px 11px;}
			#navRow ul li.navDonate a {font-size:18px; line-height:18px; padding:0 5px 4px;}

		#navRow ul li.navSocnet {margin:5px 0 5px 8px;}
			#navRow ul li.navSocnet a {font-size:18px; line-height:18px; padding:0 5px 4px; display:inline-block; margin:0 0 0 5px;}

/*******************************************************************************
BANNER ROW
*******************************************************************************/
#bannerRow { background:center bottom no-repeat;}
	#bannerRow .rowInner { padding:45px 0 0 0;}

		#pagerBar { margin:0 0 25px 0; min-height:10px;}
			#pagerBar #pager {width:52%; float:right; text-align:center; }
				#pager a {display:inline-block; width:8px; height:8px; border:1px solid #fff; margin:0 10px;}
				#pager a.cycle-pager-active {background:#fff;}

		#slider {}
			#slider .slide { width:100%; position:relative;min-height:272px;}
							.slide .slideContent {width:48%; padding:30px 30px 30px 0; overflow:hidden; float:left; color:#e5e5e5; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
				.slide .slideImage {width:52%; padding:20px 20px 0 20px; position:absolute; bottom:0; right:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
					.slide .slideImage img {width:100% !important; height:auto !important; display:block;}

		#bannerRow.subBanner .rowInner {padding:92px 0 77px;}

/*******************************************************************************
ACTION ROW
*******************************************************************************/
#actionRow {background:#e1e1e1;}
	#actionRow .rowInner {padding:60px 0 45px 0;}

	#actionRow .column {width:33.33%; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;position:relative;}

	#actionRow #colSignup {padding:0 2% 0 0;}
		#colSignup .field.small {width:48%; float:left;}
		#colSignup .submit {width:48%; float:right; margin:0 0 15px 0; height:36px;}

	#actionRow #colDonate {padding:0 1%;}
		.btnDonate {width:100%; height:138px; padding:50px 0 0; display:block; text-align:center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
		.newsSidebar .btnDonate {margin:50px 0 0 0;}
		.newsSidebar .btnDonate:first-child {margin:0;}

	#actionRow #colFacebook {padding:0 0 0 2%; max-height:190px; overflow:hidden;}
		#colFacebook iframe {margin:-10px -10px 0 -10px;}
		#colFacebook iframe, #colFacebook iframe * {width:100% !important;}


/*******************************************************************************
CONTENT ROW
*******************************************************************************/
#contentRow {background:#fff;}
	#contentRow .rowInner {padding:45px 0 60px 0;}

		#content {float:left; width:100%;}
			#content h2 {text-align:left;}
			#content ul {margin-left: 26px;margin-bottom: 14px;}
			#content p img {max-width:100%; height:auto;}
			.post { margin:35px 0 25px 0; padding:0 0 46px 0; border-bottom:1px solid #e6e6e6; float:left;}
				.postHeader { position:relative; min-height:48px; min-width:48px; float:left; margin:0 20px 10px 0; max-width:50%;}
				.issues .postHeader {width: 200px;height: 200px;overflow: hidden;}
					.postImage {}
						.postImage img { width:100% !important; height:auto !important; display:block; max-width:300px}
					.postDate { width:48px; height:48px; text-align:center; padding:9px 10px; font-family: 'Oswald', sans-serif; text-transform:uppercase; font-size:14px; line-height:16px; color:#fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:absolute; bottom:0; left:0;}
				.postContent { }

			#content.homeNews {}
				#content.homeNews h2 {text-align:center;}
				#content.homeNews .post { margin:0 1.5%; width:30.33%; padding:0; border:none;}
					#content.homeNews .postHeader {margin:0 0 15px 0; max-width:none; min-width:68px}

		#loadMore {text-align:center; font-size:24px; color:#999; font-weight:300; margin:30px 0 0 0;}
			#loadMore .loadPrev {float:left;}
				.loadPrev a {padding-left:5px;}
			#loadMore .loadNext {float:right;}
				.loadNext a {padding-right:5px;}

/*******************************************************************************
SEARCH PAGE
*******************************************************************************/
	input.searchPage {background:#e6e6e6;}

/*******************************************************************************
SIDEBAR
*******************************************************************************/
	#contentRow .rowInner.hasSidebar {padding:45px 400px 60px 0;}

		#sideBar {float:right; margin:-203px -400px 0 0; width:340px; min-height:350px; background: url(../images/bg-sidebar_bottom.jpg) center bottom no-repeat #e6e6e6; padding:20px 20px 100px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-size:100% 348px;}

		.sideItem { margin:50px 0 0 0;}
		.sideItem:first-child {margin:0 !important;}
		.sideItem.searchItem { margin:50px 0 50px 0}
			.sideItem.searchItem .field {width:90%; float:left;}
			.sideItem.searchItem .submit {width:10%; height:36px; font-family: FontAwesome; color:#fff; font-size:18px; text-align:center; float:left; border:none; background:#b3b3b3;}

		.sideItem.listItem {}
			.sideItem.listItem ul {list-style:none;}
				.sideItem.listItem ul li { display:inline-block; padding:0 10px 5px 0; width:49%; max-width:145px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
				.sideItem.listItem ul li a { padding:2px 0; display:block;}


		.sideItem.signupItem {position:relative;}
		.subSidebar .sideItem.signupItem { margin-top:50px;}
			.sideItem.signupItem .field.small {width:48%; float:left;}
			.sideItem.signupItem .submit {width:48%; float:right; margin:0 0 15px 0; height:36px;}

		.sideItem.fbItem { width:100%;}
			.sideItem.fbItem iframe {margin:-10px -10px 0 -10px;}
			.sideItem.fbItem iframe, #colFacebook iframe * {width:100% !important;}




/*******************************************************************************
FOOTER ROW
*******************************************************************************/
#footerRow {}
	#footerRow .rowInner {padding:65px 0;}

	#footLogo {float:left; height:110px; }
		#footLogo img {display:block; height:auto; width:auto; max-height:110px; max-width:210px}


	#footRight { float:right;}
		#footerRow ul {float:right; list-style:none; margin:0 0 5px 0;}
			#footerRow ul li { float:left; margin:5px 10px;}
				#footerRow ul li a {display:block; padding:5px; font-family: 'Oswald', sans-serif; text-transform:uppercase; font-size:12px; line-height:12px; color:#b2b2b2 !important;}

			#footerRow ul li.navDonate {margin:5px 10px 5px 10px;}
				#footerRow ul li.navDonate a {font-size:18px; line-height:18px; padding:0 5px 4px;}

			#footerRow ul li.navSocnet {margin:5px 0 5px 8px;}
				#footerRow ul li.navSocnet a {font-size:18px; line-height:18px; padding:0 5px 4px; margin:0 0 0 5px; display:inline-block;}

		#footerContent {float:right; text-align:right; color:#b2b2b2; font-size:12px; line-height:21px;}
			#footerContent a {color:#b2b2b2}
			#footerContent p {margin-bottom:11px;}
			#footerContent .srg img {margin:0 0 0 15px; float:right;}


/*******************************************************************************
SPINKIT
*******************************************************************************/
.spinner {  width: 50px;height: 30px;text-align: center;font-size: 10px;position: absolute;left: 50%;margin-left: -25px;top:100px; display:none;z-index:999;}
.spinner > div {  height: 100%;  width: 6px;  display: inline-block;    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;  animation: stretchdelay 1.2s infinite ease-in-out;}

.spinner .rect2 {  -webkit-animation-delay: -1.1s;  animation-delay: -1.1s;}
.spinner .rect3 {  -webkit-animation-delay: -1.0s;  animation-delay: -1.0s;}
.spinner .rect4 {  -webkit-animation-delay: -0.9s;  animation-delay: -0.9s;}
.spinner .rect5 {  -webkit-animation-delay: -0.8s;  animation-delay: -0.8s;}

@-webkit-keyframes stretchdelay {  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }    20% { -webkit-transform: scaleY(1.0) }}
@keyframes stretchdelay { 0%, 40%, 100% {     transform: scaleY(0.4);    -webkit-transform: scaleY(0.4);  }  20% {     transform: scaleY(1.0);    -webkit-transform: scaleY(1.0);  }}
