@charset "UTF-8";
/* CSS Document */

@media only screen 
and (max-width : 960px)
{
}

@media only screen 
and (max-width : 860px)
{
#logo {float:none; text-align:center;}
	#logo img {float:none; display:inline-block;}

#nav {float:none; text-align:center;}
	#nav li { display:inline-block; float:none;}

#pagerBar #pager {width:100%; float:none;}
.slide .clear {display:none;}
.slide .slideContent {width:100%; padding:0px 30px 20px 0; float:none; }
			.slide .slideImage {width:100%; position:static;}

.hasSidebar { padding-right:0 !important;}
	#sideBar {margin-right:0 ; width:100%; background-image:none; padding-bottom:10px; margin-bottom:30px;}
		
		.newsSidebar .sideItem.searchItem { margin:20px 0;}
		.newsSidebar .sideItem.listItem {float:left; width:48%; padding:0 2% 0 0; margin-bottom:20px}
		.newsSidebar .sideItem.fbItem {float:left; width:48%; padding:0 2% 0 0; margin-bottom:20px}
		.newsSidebar .sideItem.signupItem {float:left; width:48%; padding:0 2% 0 0; margin-bottom:20px}
		
		.subSidebar .sideItem.fbItem {float:left; width:48%; padding:0 2% 0 0; margin-bottom:20px}
		.subSidebar .sideItem.signupItem { margin-bottom:0px;}
	
#footLogo {float:none; text-align:center}
	#footLogo img {display:inline-block;}

#footRight {float:none; }
	#footerNav {float:none; text-align:center}
		#footerNav li {display:inline-block; float:none;}
	#footerContent {float:none; text-align:center;}
		#footerContent .srg img {float:none;}
}

@media only screen 
and (max-width : 768px)
{
#navRow .rowInner {padding:25px 0 0;}
	
#actionRow .column {width:50%; margin:0 0 25px 0;}

#actionRow #colFacebook {padding:0; max-height:none; overflow:visible; width:100%;}
	#colFacebook iframe {margin:0; height:190px;}
	
#content.homeNews .post { margin:35px 0 0 0; width:auto; padding:0 0 20px 0; border-bottom:1px solid #e6e6e6;}
	#content.homeNews .postHeader {position:relative; min-height:48px; min-width:48px; float:left; margin:0 20px 10px 0; max-width:50%;}
	.newsWidgetBreaker {display:none;}
	
#footerRow .rowInner {padding:65px 0 20px;}
}

@media only screen 
and (max-width : 720px)
{
.row { padding:0 20px;}	
}

@media only screen 
and (max-width : 640px)
{
	.sideItem.listItem {width:100%; padding:0;}

}

@media only screen
and (max-width : 520px){
		.newsSidebar .sideItem.listItem {float:none; width:98%; padding:0 2% 0 0; margin-bottom:20px}
		.newsSidebar .sideItem.fbItem {float:none; width:98%; padding:0 2% 0 0; margin-bottom:20px}
		.newsSidebar .sideItem.signupItem {float:none; width:98%; padding:0 2% 0 0; margin-bottom:20px}
		
		.subSidebar .sideItem.fbItem {float:none; width:98%; padding:0 2% 0 0; margin-bottom:20px}
		.subSidebar .sideItem.signupItem { margin-bottom:0px;}
}

@media only screen 
and (max-width : 480px)
{
h1 {font-size:28px; line-height:32px;}

.slide .slideImage {padding:10px 10px 0 10px; }

#actionRow .column {width:100%;}

.postHeader {margin:0 0 10px 0; width:100% !important; max-width:none !important;}
	.postImage img { max-width:none;}	
}

@media only screen 
and (min-width : 680px)
and (max-width : 800px)
{

}

